# Ignore build outputs
my-links-bot
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Coverage
coverage.out

# Vendor directory
/vendor/

# Go modules
go.sum

# Local env files
.env
.env.*

# AWS credentials/config
.aws/credentials
.aws/config

# IDEs and editors
.vscode/
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

bootstrap 
bot.zip
